.header {
  display: flex;
  text-align: center;
  margin-top: 10px;
  /* margin: 30px; */
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
  font-weight: bold;
  font-size: 40px;
  color: #002c3e;
}
.plane {
  text-align: center;
  font-size: 40px;
}
.page-head {
  display: flex;
  text-align: center;
  margin-top: 4px;
  /* margin: 10px; */
  padding-top: 10px;
  /* padding-bottom: 10px; */
  font-weight: bold;
  font-size: 40px;
  color: #002c3e;

  font-size: 40px;
}

.profile-img {
  border-radius: 50%;
  border: 2px solid #3e1700;
  max-height: 80%;
  margin-top: 50px;
}

.homepage-img-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 60px;
}

.buddy-card {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 30px;
  border-radius: 50px;
}

.message-card {
  text-align: center;
  display: block;

  width: 100%;
  margin-top: 30px;
  border-radius: 50px;
}

.buddy-img {
  margin: auto;
}

/* .buddy-name {
  padding-top: 20px;
} */

.blue-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.orange-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.other-message {
  width: 80%;
  padding: 10px 20px 10px 20px;
  background-color: #78bcc4;
  color: #002c3e;
  font-size: 20px;
}
.my-message {
  text-align: right;
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: #002c3e;
  width: 80%;
}
.chat-messages {
  display: grid;
  grid-template-columns: 98%;
  grid-template-rows: auto auto auto auto;
  justify-items: right;
  padding: 5px;
}
.chat-left {
  justify-content: left;
  justify-items: left;
}
.chat-right {
  align-self: flex-end;
}
