.header {
  display: flex;
  text-align: center;
  margin-top: 40px;
  margin: 30px;
  /* padding-top: 20px; */
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 40px;
  color: #002c3e;
}
.plane {
  text-align: center;
  font-size: 40px;
}
.page-head {
  display: flex;
  text-align: center;
  margin-top: 4px;
  /* margin: 10px; */
  padding-top: 10px;
  /* padding-bottom: 10px; */
  font-weight: bold;
  font-size: 40px;
  color: #002c3e;

  font-size: 40px;
}

.profile-img {
  border-radius: 50%;
  border: 2px solid #3e1700;
  max-height: 80%;
  margin-top: 50px;
}

.homepage-img-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 60px;
}

.buddy-card {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 30px;
  border-radius: 50px;
}

.buddy-img {
  margin: auto;
}

/* .buddy-name {
  padding-top: 20px;
} */

.blue-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.orange-button {
  margin-top: 10px;
  margin-bottom: 10px;
}
